extends layout-content

block content-left
	.aboutme.shadow
		.notfound-body
			.notfound-left OOPS
			.notfound-right
				.top Page
				.middle Not
				.botton Found
			.clear

			.notfound-message It's not you, it's me!....okay, maybe it's a little you...