extends layout

block css
	style
		.error-details
		{
			visibility : hidden;
		}		
block content
	.error.shadow
		.error-body
			.error-left UH OH
			.error-right
				.top It seems
				.bottom something
				.bottom broke
			.clear

			.error-message
			.error-details #{errordetails}
