extends layout-content

block content-left
	- each post in posts
		include post-item
	#pagination
		- if (pagination.previousPage)
			a(href='/?page=#{pagination.previousPageNumber}') Previous Page
		- if (pagination.nextPage) 
			a(href='/?page=#{pagination.nextPageNumber}') Next Page