!!! strict
html(xmlns:fb='http://ogp.me/ns/fb#')
head
    link(href='../Styles/main.css', rel='stylesheet', type='text/css')
    title
  body
    block facebookapi
    
    #container.shadow
      #header
      #horizontal-break
      #content
        #content-left
          block content
        #content-right
          block archivedPosts
        .clear
      #footer