!!! strict
html(xmlns:fb='http://ogp.me/ns/fb#')
	head
		link(href='../Styles/main.css', rel='stylesheet', type='text/css')
		block css
		block script
		title #{title}
	body
		block facebookscript
		
		#container.shadow
			#header
			#horizontal-break
			#content
				block content
			#footer